/* this section controls the margin, padding and box sizing for the entire webpage */
* {
    margin: 0;
    padding: %;
    box-sizing: border-box;
}

/* this function is used for smooth scroling for the webpage */
html {
    scroll-behavior: smooth;
}


/* styling for the overall main section */
body {
    background-color: #ededf6;
}

/*this section controls the styling for everything in the header section */
header {
    padding: 22px 36px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #31343d
}
/* styling for the heading h1 in the header */
header h1 {
    background-color: #92cccd;
    color: black;
}
/* styling for the nav buttons */
header nav ul   {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
/* styling for the nav ul list and its anchor */
header nav ul li a {
    padding: 12px 32px; 
    text-decoration: none;
    font-size: 1.75vw;
    color: #92ccc9
    
}
/* hover section on the nav buttons in header */
header nav ul li a:hover {
    border-bottom: 3px solid #92ccc9;
}
/* this section includes the hero image and its style */
.hero-img{
    background-image: url("../assets/images/dj-sud-logo-hero-img.JPG");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; 
}

/* ct = cover text on the hero image */
.ct {
    background-color: #92ccc9;
    position: relative;
    right: 155px;
    line-height: 1.6;
    padding-left: 12px;
    padding-right: 55px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* text background for the cover text on the hero image */
.ct-background {
    padding-bottom: 25px;
    padding-right: 22px;
}

/* styling for the parent section that includes child-1 and .child-2 */
.parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;
    padding-top: 1.5%;
}

/* controls the styling for child-1 i.e. title inisde the parent section e.g. About me, work and Contact me */
.child-1{
    flex: 1 30%;   
    text-align: center;
    font-size: 30px;
    color: #445876;
}

/* controls the styling for child-2 i.e the p section and child 2 contains images */
.child-2 {
    flex: 2 70%;
    color: #445876;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 8px solid #445876;
    padding-top: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: justify;
}
/* child-2 unordered list */
.child-2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-bottom: 5%;
}

/* controls the image sections styling */
.image {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8,5vw);
    grid-gap: 10px;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* styling for the 1st image in the work section */
.item-1 {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5 ;
    padding-bottom: 25px;
    border: 5px solid #92cccd;
    opacity: 0.3;
}

/* controls the image hover on the 1st image */
.item-1:hover {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1 ;
    grid-row-end: 5 ;
    opacity: 1;
}

/* controls the text on image-1 */
.img-1-d {
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: #92cccd;
    text-align: center;
}

/* controls the 2nd image for the work section */
.item-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 8 ;
    border: 5px solid #92cccd;
    opacity: 0.3;
}

/* controls the hover section for the 2nd image */
.item-2:hover {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5 ;
    grid-row-end: 8 ;
    opacity: 1;
}

/* controls the text on the 2nd image */
.img-2-d {
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: #92cccd;
    padding-top: 20px;
    text-align: center; 
} 

/* controls the 3rd image in teh Work section */
.item-3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 8 ;
    border: 5px solid #92cccd;
    opacity: 0.3;
}

/* controls the hover function on the 3rd image */
.item-3:hover {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 5 ;
    grid-row-end: 8 ;
    opacity: 1;
}

/* controls the text on the 3rd iamge for the work section */
.img-3-d {
    grid-column-start:5;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 7;
    background-color: #92cccd; 
    padding-top: 20px;
    text-align: center;
} 

/* styling for the semantic elements is completed here Next section is for media query */

/* Media query for smaller desktop screens */
@media screen and (max-width:980px) {
    header {
        padding-bottom: 20;
        padding-top: 20px;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center; 
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .ct {
        position: relative;
        text-align: center;
        background-color: #92ccc9;
        right: 5px;
        line-height: 1.6;
        padding-left: 12px;
        padding-right: 55px;
        text-align: center;
    }
}

/* Media query for tablets and smaller devices */
@media screen and (max-width:768px) {
    header {
        padding-bottom: 20;
        justify-content: center;
        position: relative;   
    }

    header h1 {
        width: 100%;
        text-align: center; 
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 10px;
    }
    
    .ct {
        position: relative;
        text-align: center;
        background-color: #92ccc9;
        right: 5px;
        line-height: 1.6;
        padding-left: 12px;
        padding-right: 55px;
        text-align: center;
}   

/* Media Query for Mobile Phones and Smaller */
@media screen and (max-width:575px)  {
    .child-1 {
        width: 95%;
        text-align: center;
    }

    .child-2 {
        text-align: center;
    }

    .item-1 {
        flex: 0 100%;       
    }

    .item-2 {
        flex: 0 100%;
    }

    .item-3 {
        flex: 0 100%; 
    }
}

    
/* CSS styling completed */